body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    text-align: center;
    padding: 20px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-body h3 {
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
    color: #333;
}

.card-img-top {
    width: 100%;
    height: 400px;
    object-fit: contain;   /* mostra a imagem inteira */
    background-color: #fff; /* fundo branco para áreas vazias */
    border-radius: 8px;
}